@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(30deg, #020005, #5516a1);
  font-family: 'Merriweather', serif;
}