@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, #5516a1, #020005);
  font-family: 'Merriweather', serif;
}