@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.main-area {
    background: linear-gradient(30deg, #5516a1, #020005);
    padding-top: 75px;
    overflow: hidden;

    .game-area {
        background-color: #170829;
        border-radius: 4px;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        height: calc(100vh - 100px);

        .gamebar {
            width: calc(100vh - 300px);
            height: 100%;

            .gamebar-container {
                height: 100%;
                margin: auto;
                margin-top: 40px;
                position: relative;

                span.marker {
                    position: absolute;
                    top: -24px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 999;
                    
                    img {
                        width: 25px;
                        height: 48px;
                    }
                }

                .temp {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .wheel {
                        width: 350px;
                        height: 350px;
                        background-color: #3e196d;
                        border: 15px solid #2b1545;
                        position: relative;
                        overflow: hidden;
                        transition: 5s;
                        border-radius: 50%;

                        .segment1 {
                            height: 50%;
                            width: 105px;
                            position: absolute;
                            clip-path: polygon(100% 0, 50% 100%, 0 0);
                            transform: translateX(-50%);
                            transform-origin: bottom;
                            text-align: center;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            font-weight: bold;
                            font-family: 'Merriweather', serif;
                            font-size: 20px;
                            color: black;
                            left: 108px;
                        }
                    }
                }
            }
        }

        .sidebar {
            width: 300px;
            background-color: black;
            height: 100%;
            position: relative;

            .main-control {
                padding: 15px;

                .form {
                    .form-group {
                        margin-top: 8px;
                        
                        .label {
                            font-size: 600;
                            color: white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                    button.bet {
                        height: 45px;
                        background-color: #FFD700;
                        margin-top: 10px;
                        width: 100%;
                        font-weight: 600;
                        color: black;
                        border-radius: 3px;
                        border: none;
                        cursor: pointer;
                    }
                    .input-group {
                        height: 40px;
                        background-color: #3e196d;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.12);
                        margin: 4px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 3px;

                        select, input {
                            width: 98%;
                            background-color: #200d37;
                            margin: 3px 0px 3px 3px;
                            color: white;
                            height: 35px;
                            outline: none;
                            padding: 5px 10px;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}