.main-area {
    background: linear-gradient(30deg, #5516a1, #020005);
    padding-top: 75px;
    overflow: hidden;

    .game-area {
        background-color: #170829;
        border-radius: 4px;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        height: calc(100vh - 100px);

        .sidebar {
            width: 300px;
            background-color: black;
            height: 100%;
            position: relative;

            .main-control {
                padding: 15px;

                .form {
                    .form-group {
                        margin-top: 8px;
                        
                        .label {
                            font-size: 600;
                            color: white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                    button.bet {
                        height: 45px;
                        background-color: #FFD700;
                        margin-top: 10px;
                        width: 100%;
                        font-weight: 600;
                        color: black;
                        border-radius: 3px;
                        border: none;
                        cursor: pointer;
                    }
                    .input-group {
                        height: 40px;
                        background-color: #3e196d;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.12);
                        margin: 4px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 3px;

                        select, input {
                            width: 98%;
                            background-color: #200d37;
                            margin: 3px 0px 3px 3px;
                            color: white;
                            height: 35px;
                            outline: none;
                            padding: 5px 10px;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}